@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  transition: 0.125;
}

body {
  width: var(--width);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
  background: #1D1A1A;
}

header {
  height: 100vh;
  background-image: url("../images/navigete/bg.png");
  background-size: 100% auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.price__nav {
  display: flex;
  padding-top: 62px;
  justify-content: space-between;
}
.price__elements > ul {
  display: flex;
}
.price__elements {
  display: flex;
  align-items: center;
}
.price__elements > ul > li {
  display: flex;
  list-style-type: none;
  margin-left: 30px;
}
.price__elements > ul > li > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 37px;
  line-height: 32px;
  text-align: center;
  color: white;
  margin-top: 15%;
}

.form {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
}
.form__element {
  max-width: 411px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  background: #979797;
}
.form__select {
  display: flex;
  padding-top: 6px;
  padding-right: 15px;
}
.form__select > p {
  padding-left: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.form__select > img {
  height: 16px;
  width: 16px;
}
.form__select > input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.form__title {
  width: 100%;
  height: 58px;
  background-color: #1B68B2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__title > h1 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.form__input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  height: 30px;
  width: 350px;
}
.form__input-ci {
  margin-top: 47px;
}
.form__input > input {
  background: #FFFFFF;
  border: none;
}
.form__button {
  width: 240px;
  height: 48px;
  background: #1B68B2;
  border-radius: 5px;
  border-color: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
}
.form__night-button {
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}
.form__night-button-ci {
  margin-top: 30px;
}
.form__values {
  text-align: center;
  margin-top: 11px;
}
.form__phone {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
}

input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
}

input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
}

.form__submits > button {
  width: 252px;
  height: 51px;
  background: #1B68B2;
  border-radius: 33px;
  border-color: none;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.promos {
  display: flex;
  margin-top: 45px;
  margin-bottom: 45px;
}
.promos__text {
  width: 406px;
  height: 127px;
  text-align: center;
  margin: 0 auto;
  margin-top: 7%;
}
.promos__text h5 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: #FFFFFF;
}
.promos button {
  width: 247px;
  height: 51px;
  background: #1B68B2;
  border-radius: 33px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 30px;
  border: none;
}

.vip {
  background-image: url("../images/index/3.png");
  background-size: 100% auto;
  height: 655px;
  width: 100%;
}
.vip__title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 30px;
}
.vip__setka {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
}
.vip__text {
  max-width: 400px;
  margin: auto 0 auto;
}
.vip__text h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.vip__text p {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.nogi {
  margin-top: 45px;
  margin-bottom: 45px;
}
.nogi__setka {
  display: flex;
  justify-content: center;
}
.nogi__left {
  width: 488px;
  height: 234px;
  margin: auto 0 auto;
  text-align: center;
}
.nogi__left h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 41px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.nogi__left p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}
.nogi button {
  margin-top: 25px;
  width: 252px;
  height: 51px;
  background: #1B68B2;
  border-radius: 33px;
  border-color: none;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  text-align: center;
}

.contact {
  margin-top: 45px;
  margin-bottom: 40px;
}
.contact__title {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1B68B2;
  margin-top: 10px;
  margin-bottom: 30px;
}
.contact__setka {
  display: flex;
  justify-content: center;
}
.contact__info {
  width: 280px;
  padding-right: 20px;
}
.contact__ul {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.contact__li {
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.contact__info {
  display: flex;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  display: flex;
}
.footer__link > p {
  max-width: 254px;
  width: 100%;
}
.footer__link > p > a {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.footer__link-active > p > a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.footer__img {
  display: flex;
}
.footer__icons {
  margin-left: 10px;
}/*# sourceMappingURL=index.css.map */